
<div class="container-fluid  my-5 p-5 md-6" >
  <h1 class="text-center">Treaking Spots In Nashik</h1>
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/hari.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" [ngStyle]="{'background-color':visited==true?'lightgreen':''}">
        <div class="card-body">
          <h2 class="card-title">Harihar Garh</h2>
          <p class="card-text">Located 48 km from Igatpuri, Harihar fort is an important fort of Nashik district. The fort captures the attention of the visitors because of its peculiar rock-cut steps and its one of the famous Nashik tourist places.

            The fort is very old and it mostly is in ruins at present except for a storage house and a few rock-cut cisterns. The fort can be accessed from two base villages namely, Rakshewadi and Nirgudpada.
          </p>
          <p class="card-text"><small class="text-body-secondary">Location: The fort is located close to Nirgudpada village, Nashik, 422212, Maharashtra
          </small></p>
          <p class="card-text"><small class="text-body-secondary">Timing:The fort is open to visitors from 7 am to 6 pm.

          </small></p>
          <p class="card-text"><small class="text-body-secondary"> Entry fee: None
          </small><input type="button" class="btn bg-success text-white" value="Visited" id="btn3" (click)="visiteDone(visited)"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/anjneri.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" [ngStyle]="{'background-color':visited1==true?'lightgreen':''}">
        <div class="card-body">
          <h2 class="card-title">Anjneri Hills</h2>
          <p class="card-text">The Anjaneri hills derive their name from Goddess Anjana, as the locals say that the Goddess Anjana gave birth to Lord Hanuman in the cave atop the hill and it is one of the holy places to visit in Nashik.

            Among the Nashik tourist places, reaching Anjaneri hills is comparatively harder. Travelers have to take a bus from Nashik to Trimbakeshwar and from there they have to hike for 10 km, but the view at the end of the hike is worth it.
          </p>
          <p class="card-text"><small class="text-body-secondary">Location: Anjaneri hill is located near Anjaneri town, Anjaneri, Maharashtra, 422212. 
          </small></p>
          <p class="card-text"><small class="text-body-secondary">Timings: All day.
          </small></p>
          <p class="card-text"><small class="text-body-secondary"> Entry fee: None
          </small><input type="button" class="btn bg-success text-white" value="Visited" id="btn2" (click)="visiteDone1(visited1)"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/brahmagiri.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" [ngStyle]="{'background-color':visited2==true?'lightgreen':''}">
        <div class="card-body">
          <h2 class="card-title">Brahmagiri Hills</h2>
          <p class="card-text">The word Brahmagiri translates to Hill of Lord Brahma. With mythological stories intricately woven into the history of this place, the Brahmagiri hill is one of the famous Nashik tourist places.

            The ascent to Brahmagiri hill can be started from Trimbakeshwar. It takes about 2 hours for one to reach the top of Brahmagiri hill from Trimbakeshwar. The views from the top of the Brahmagiri hill are enchanting, to say the least.
            
           
            
          </p>
            <p class="card-text"><small class="text-body-secondary"> Location: Brahmagiri hill is located in Brahmagiri, Metghar Kila, Trimbakeshwar, Maharashtra, 422212. 
               </small></p>
               <p class="card-text"><small class="text-body-secondary">Timings: All day.
               </small></p>
               <p class="card-text"><small class="text-body-secondary"> Entry fee: None
               </small><input type="button" class="btn bg-success text-white" value="Visited" id="btn1" (click)="visiteDone2(visited2)"></p>
              
              
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/pandav.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" [ngStyle]="{'background-color':visited3==true?'lightgreen':''}">
        <div class="card-body">
          <h2 class="card-title">Pandav Leni</h2>
          <p class="card-text">The word Brahmagiri translates to Hill of Lord Brahma. With mythological stories intricately woven into the history of this place, the Brahmagiri hill is one of the famous Nashik tourist places.

            The ascent to Brahmagiri hill can be started from Trimbakeshwar. It takes about 2 hours for one to reach the top of Brahmagiri hill from Trimbakeshwar. The views from the top of the Brahmagiri hill are enchanting, to say the least.
            
           
            
          </p>
            <p class="card-text"><small class="text-body-secondary"> Location: Brahmagiri hill is located in Brahmagiri, Metghar Kila, Trimbakeshwar, Maharashtra, 422212. 
               </small></p>
               <p class="card-text"><small class="text-body-secondary">Timings: All day.
               </small></p>
               <p class="card-text"><small class="text-body-secondary"> Entry fee: None
               </small><input type="button" class="btn bg-success text-white" value="Visited" id="btn1" (click)="visiteDone3(visited3)"></p>
              
              
        </div>
      </div>
    </div>
  </div>






</div>