
  <div class="container-fluid  my-5 p-5 md-6" >
    <h1 class="text-center">Picnic Spots In Nashik</h1>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/sula.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8" [ngStyle]="{'background-color':visited==true?'lightgreen':''}">
          <div class="card-body">
            <h2 class="card-title">Sula Vine Yard</h2>
            <p class="card-text">Sula Vineyards rebranded its Karnataka winery to Domaine Sula. Karnataka is the second-largest grape-producing region with emerging wine culture. Domaine Sula, a vineyard near Bangalore encapsulates all things wine beautifully and depicts the rich heritage of Indian sustainable winemaking. The logo displays a sun rising from the vineyards, which depicts the proud Sula sun spreading cheer with every sip! Located on the Bengaluru - Mysore highway, Domaine Sula is a perfect picnic spot for those exploring wine tourism with attractions like wine tasting sessions, winery tours, gourmet dining options, and lots of delicious wines. As the most loved and the best wine brand in India for over two decades, this is another step to build an even stronger connection with our patrons and popularize wine tourism in the country.
            </p>
            <p class="card-text"><small class="text-body-secondary">Location: Gangapur Gav, Nashik. 
            </small></p>
            <p class="card-text"><small class="text-body-secondary">Timings: All day.
            </small></p>
            <p class="card-text"><small class="text-body-secondary"> Entry fee: None
            </small><input type="button" value="Visited" class="btn bg-success text-white" (click)="visiteDone(visited)"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/nskbg2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8" [ngStyle]="{'background-color':visited1==true?'lightgreen':''}">
          <div class="card-body">
            <h2 class="card-title">Ram Kund Area</h2>
            <p class="card-text">Ram Kund is a holy place for Hindus. Devotees believe that a dip in this tank will fulfill their wishes and also free them from their sins. There is a popular belief that salvation to the soul of the dead person is easily achieved by immersing their ashes in the holy waters of this tank. Ashes of prominent personalities like Mahatma Gandhi, Jawaharlal Nehru, Indira Gandhi, Rajiv Gandhi, and Dr. Rajendra Prasad were immersed in Ram Kund. Adjacent to the Ramkund, there is a Gandhi Talav (lake) having a white marbled monument, built-in memory of Mahatma Gandhi.
            </p>
            <p class="card-text"><small class="text-body-secondary">Location: Panchvati, Nashik. 
            </small></p>
            <p class="card-text"><small class="text-body-secondary">Timings: All day.
            </small></p>
            <p class="card-text"><small class="text-body-secondary"> Entry fee: None
            </small><input type="button" value="Visited" class="btn bg-success text-white" (click)="visiteDone1(visited1)"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/gangapurdam.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8" [ngStyle]="{'background-color':visited2==true?'lightgreen':''}">
          <div class="card-body">
            <h2 class="card-title">Gangapur Dam</h2>
            <p class="card-text">Amongst all the places to visit in Nashik, the Gangapur Dam is a must. Approximately 10 KM away from the main city of Nashik is the Gangapur Dam, a highly fascinating tourist spot. It is situated on the banks of the sacred Godavari River. Being constructed in the year 1954, it is built in conventional style using stones, clay, mud, and sand.

              The garden near the Dam is an ideal picnic spot, amidst a charismatic landscape. Visit this place with friends and family to admire Mother Nature and to also watch the different species of birds here. Moreover, if you love photography, then surely let your cameras capture this immaculate beauty.
            </p>
              <p class="card-text"><small class="text-body-secondary">Location: Godavari River, Nashik. 
                 </small></p>
                 <p class="card-text"><small class="text-body-secondary">Timings: All day.
                 </small></p>
                 <p class="card-text"><small class="text-body-secondary"> Entry fee: None
                 </small><input type="button" value="Visited" class="btn bg-success text-white" (click)="visiteDone2(visited2)"></p>
                
                
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/veloni.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8" [ngStyle]="{'background-color':visited3==true?'lightgreen':''}">
          <div class="card-body">
            <h2 class="card-title">Veloni VineYard</h2>
            <p class="card-text">Vallonne Vineyards is India’s first boutique winery that produces premium French-style wines. Established in 2009, the sprawling estate rests on the gentle slopes of the Sahyadri ranges.

              The scenic location of the vineyard is complemented by the tranquil waters of the Mukhne Lake and the splendid view of the Kavnai Peak makes the vineyard an ideal place for wine tourism.
            </p>
              <p class="card-text"><small class="text-body-secondary">Vallone vineyards are located at GAT 504, Kavnai Shivar, near Sanjegaon, Taluka Igatpuri, Nashik, Maharashtra, 422403.
                 </small></p>
                 <p class="card-text"><small class="text-body-secondary">Timings: All day.
                 </small></p>
                 <p class="card-text"><small class="text-body-secondary"> Entry fee: None
                 </small><input type="button" value="Visited" class="btn bg-success text-white" (click)="visiteDone3(visited3)"></p>
                
                
          </div>
        </div>
      </div>
    </div>

  </div>