
<div class="container-fluid  my-5 p-5 md-6" >
  <h1 class="text-center">Temples In Nashik</h1>
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/trymbk.jpg" class="img-fluid rounded-start" alt="...">
      </div>
  
      <div class="col-md-8" [ngStyle]="{'background-color':visited==true?'lightgreen':''}">
     
        <div class="card-body" >
          
        
       
          <h2 class="card-title">Trimbakeshwar Temple</h2>
          <p class="card-text">One of the most popular places of worship, Trimbakeshwar is located in Nashik. People all across India visit Trimbakeshwar to express their faith and devotion. It is one amongst the twelve Jyotirlingas of Lord Shiva. The temple is located at the base of the Bramhagiri Mountain and it is one of the best Nashik tourist places.

            It is considered holy as the sacred Godavari River originates from here. It is also said to be the birthplace of Lord Ganesha. Its divine significance attracts innumerable tourists and pilgrims every year. Visitors are in awe of the three linga's that represent Brahma, Vishnu, and Shiva.
            
            
          </p>
          <p class="card-text"><small class="text-body-secondary">Location: Shrimant Peshwe Path, Trimbakeshwar, Maharashtra 422212
          </small></p>
          <p class="card-text"><small class="text-body-secondary">Timings: All day.
          </small></p>
          <p class="card-text"><small class="text-body-secondary"> Entry fee: None
          </small><input type="button" class="btn bg-success text-white" value="Visited" (click)="visiteDone(visited)"></p>
        
        </div>
      </div>
  
    </div>
  
  
  </div>


  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/vani.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" [ngStyle]="{'background-color':visited1==true?'lightgreen':''}">
        <div class="card-body">
          <h2 class="card-title">Saptshrungi Garh</h2>
          <p class="card-text">The Saptshrungi Garh is a holy place situated approximately at a distance of 60 KM from Nashik. According to the mythology, it is an abode of Goddess Bhagawati. Innumerable travelers and pilgrims visit Saptshrungi every year. The name Saptshrungi means seven mountain pinnacles. There are around 108 water reservoirs on this Mountain, which are known as Kundas and it is one of the popular places to visit in Nashik.

            One of the events from the legendary Ramayana states that Hanuman carried the herbal medicine for wounded Laxmana from this hill. The best time to visit this place is after the monsoon season. It is not only a divine destination but also a picnic spot.
            
            
          </p>
          <p class="card-text"><small class="text-body-secondary">Location: Saptashrungi Garh Rd, Saptashurngi, Maharashtra 422215
          </small></p>
          <p class="card-text"><small class="text-body-secondary">Timings: All day.
          </small></p>
          <p class="card-text"><small class="text-body-secondary"> Entry fee: None
          </small><input type="button" class="btn bg-success text-white" value="Visited" (click)="visiteDone1(visited1)"></p>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/kalaram.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" [ngStyle]="{'background-color':visited2==true?'lightgreen':''}">
        <div class="card-body">
          <h2 class="card-title">Kalaram temple</h2>
          <p class="card-text">The Kalaram temple in Nashik is one of the most religious Nashik tourist places. The Kalaram temple is a very old Hindu place of worship which is dedicated to Lord Rama and it was built around 1788 by Sardar Rangarao Odhekar.

            The temple is named as such because the statue of Lord Rama present in the temple is black.
            
            
          </p>
            <p class="card-text"><small class="text-body-secondary">Location: The Kalaram temple is located at Panchvati Road, Panchvati, Nashik, Maharashtra, 422003. 
               </small></p>
               <p class="card-text"><small class="text-body-secondary">Timings: All day.
               </small></p>
               <p class="card-text"><small class="text-body-secondary"> Entry fee: None
               </small><input type="button" class="btn bg-success text-white" value="Visited" (click)="visiteDone2(visited2)"></p>
              
              
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/sundar.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8" [ngStyle]="{'background-color':visited3==true?'lightgreen':''}">
        <div class="card-body">
          <h2 class="card-title">Kalaram temple</h2>
          <p class="card-text">Sundarnarayan temple in Nashik is a must visit place for the devotees of Lord Vishnu. The Temple was constructed in 1756 by Gangadhar Yashwant Chandrachud.

            Temple is very beautiful and it is adorned by intricate carvings and paintings and its imposing architecture inspired by Mughal sculpture is bound to please the art lover in you.
            
            
            
          </p>
            <p class="card-text"><small class="text-body-secondary">Location: The Sundarnarayan temple is located in Kharewada, Raviwar Karanja, Panchvati, Nashik, Maharashtra, 422001.
               </small></p>
               <p class="card-text"><small class="text-body-secondary">Timings: All day.
               </small></p>
               <p class="card-text"><small class="text-body-secondary"> Entry fee: None
               </small><input type="button" class="btn bg-success text-white" value="Visited" (click)="visiteDone3(visited3)"></p>
              
              
        </div>
      </div>
    </div>
  </div>
</div>