<div class="col-lg-6 mb-5 my-4   mb-lg-0 mt-5   container-fluid ">
    <h1 class="text-center">If Any Emergency Occur Call Here</h1>
    
        <div class="text-center align-center">
        @for (eg of Emergency; track eg.id) {

        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Number Of</div>
            <div class="card-body">
                <h3 class="card-title">{{eg.name}}</h3>
              <h5 class="card-title">{{eg.No}}</h5>
              
            </div>
          </div>
        }@empty {
            No Data Found
        }
    </div>
  
</div>